@use '_variables';
@use '_flex-utils';

html {
  padding: 0;
  margin: 0;
  font-size: $font-size-normal; // base font size
}

body {
  // position: relative;
  // max-width: 1152px;
  // max-height: 700px;
  @extend .f-container;
  font-family: $font-family;
  background-color: $background-color;
  height: 100%;
}

main {
  @extend .f-container;
  max-width: $max-width;
  margin: $margin-top-large auto $margin auto;
  flex: 1;
  text-align: left;
  justify-content: center;
}

.header {
  font-family: $header-font-family;
  font-size: $font-size-larger;
  line-height: $line-height;
  font-style: normal;
  font-weight: bold;
}

.heading {
  @extend .f-container;
  margin-bottom: $margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 small {
    padding: 0 8px;
    margin-top: $margin;
  }

  & h1 {
    width: 100%;
  }

  & > h1,
  & > .action {
    display: flex;
    flex-flow: inherit;
  }
}

// table
.table {
  display: flex;
  flex-direction: column;

  & .table-row {
    border-radius: 8px;
    border: 1px solid #d4d2d0;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background: $background-white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin;

    &-header {
      @extend .table-row;
      border: none;
      background: none;
      font-weight: bold;
      align-items: flex-end;
      height: 40px;
      color: $text-muted;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: no-wrap;
    }
  }

  & .table-cell {
    min-width: 100px;

    & small {
      display: flex;
      flex: 1;
    }

    &:first-child() {
      min-width: 40%;
    }
  }
}

// forms
.input {
  width: 288px;
  height: 44px;
  background: #ffffff;
  /* Neutral/600 */
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 8px;
}
.input-wrapper {
  margin-bottom: $margin;
  display: flex;
  flex-direction: column;
  font-family: $header-font-family;

  > * {
    display: flex;
    flex-direction: column;
  }

  > label {
    font-size: $font-size-larger;
    color: $text;
    font-weight: bold;
  }
  > p {
    color: $text-light;
    font-size: $font-size-normal;
    padding-bottom: 0;
    margin: 2px 0;
  }

  > input {
    @extend .input;
    position: static;
    left: calc(50% - 288px / 2);
    bottom: 25px;

    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
  }

  > select {
    @extend .input;
    padding: 12px 0;
  }
}

// type ahead search
.type-ahead-search {
    input {
      @extend .input;
    }
    ol {
      display: flex;
      flex: 1 1;
      flex-direction: column;
      position: absolute;
      background: #fff;
      margin: 44px -3px 0;
      padding-top: 8px;
      border: solid 1px #d2d2d2;
      width: 252px;
      min-height: 40px;
      box-shadow: 0px 3px 4px #d2d2d2;
      border-top: none;
      border-radius: 10px 10px 3px 3px;
    }
  }