// tried my nest at flex here
.flex {
  display: flex;
}
@media (max-width: 400px) {
  .flex {
    display: block;
  }
}

.f-container {
  @extend .flex;
  flex-direction: column;
}

.f-center {
  @extend .flex;
  align-items: center;
}

.f-row {
  @extend .flex;
  flex-flow: row wrap;
}

.f-row-content-right {
  @extend .f-row;
  justify-content: flex-end;
}

.f-row-content-left {
  @extend .f-row;
  justify-content: flex-end;
}


