@use '_variables';


.muted {
    color: $text-muted;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    font-weight: bold;
    color: $text;
}

h1 {
    font-size: $font-size-largest;
    
    & small {
        font-size: $font-size-normal;
    }
}