
// baseline variables
$base-primary: #003A9B;
$base-secondary: #282c34;

// text
$text: #2D2D2D;
$text-light: #767676; 
$text-muted: #949494;
$text-inverse: #FAF9F8;
$text-dark: #000;
$text-primary: $base-primary;
$text-secondary: $base-secondary;

$header-font-family: Helvetica;
$font-family: sans-serif;

$line-height: 150%;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-larger: 16px;
$font-size-largest: 28px;

// baseline vars
$background-white: #FFFFFF;
$background-color: #FAF9F8;
$background-color-dark: #2D2D2D;
$background-color-gray: #C4C4C4;

// margins 
$margin: 14px;
$margin-top-large: 80px;

// 
$max-width: 1152px;

// buttons
$button-primary: #085FF7; 
$button-primary-text: #FFFFFF;

$button-secondary: $button-primary-text; 
$button-secondary-text: $text-primary;

$button-border-radius: 8px;