@use '../Common/_variables';

button {
  font-family: $header-font-family;
  font-size: $font-size-larger;
  font-weight: bold;
  line-height: 112.5%;
  padding: 13px 16px;
  border-radius: $button-border-radius;
  border: none;
  clear: both;
  white-space: nowrap;
  border: 1px solid #d4d2d000;
  box-sizing: border-box;

  &:hover {
    background-color: $base-primary;
    border: 1px solid $base-primary;
    cursor: pointer;
  }

  &.primary {
    color: $button-primary-text;
    background-color: $button-primary;
  }

  &.secondary {
      color: $button-primary;
      background-color: $button-secondary;
      border-color:  #D4D2D0;
  }
}
