@use '_variables';
@use '_flex-utils';

.overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

// is a section really the best element?
.dialog-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 780px;
  min-height: 690px;
  left: 186px;
  top: 143px;
  border-radius: 8px;
  transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  background: #ffffff;
  border: 1px solid #d4d2d0;
  z-index: 100;
  text-align: left;
  padding: 24px 32px;

  &-primary {
    @extend .dialog-container;
  }

  h2 {
    font-size: 20px;
    height: 30px;
    margin: 0 auto;
  }

  .reset-placement {
    margin: -24px -33px;
    padding: 24px 34px;
  }

  .dialog-heading {
    @extend .reset-placement;
    border-bottom: 1px solid #d4d2d0;
    p {
      font-size: $font-size-larger;
      height: 24px;
      margin: 0;
    }
  }
  .dialog-content {
    @extend .reset-placement;
    display: flex;
    flex: 1;
    padding: 24px 34px;
    width: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .dialog-footer {
    @extend .reset-placement;
    border-top: 1px solid #d4d2d0;
    display: flex;
    flex: 0;
    flex-flow: row-reverse;

    > div > * {
      margin-left: $margin;
    }
  }
}
