@use '../Common/_variables';
@use '../Common/_flex-utils.scss';
@use '../Common/_text.scss';

.header {
  @extend .f-row;
  color: $text-inverse;
  background-color: $background-color-dark;
  //   position: absolute;
  //   width: 1152px;
  //   left: 0px;
  //   top: 0px;
  width: 100%;
  height: 64px;
  justify-content: center;

  > * {
    flex: 1 100%;
  }
}
