@use '../Common/_variables';
@use '../Common/_borders';
@use '../Common/_flex-utils.scss';

.profile {
  @extend .f-row-content-right;
  max-width: $max-width;
  margin: $margin 0;

  & .img {
    @extend .border-rounded;
    background-color: $background-color-gray;
    width: 36px;
    height: 36px;
    // left: 822px;
    // top: 14px;
  }
  & .user-profile {
    
    padding: 0 15px 0 6px;
  }

  & .user {
    @extend .f-row;
    margin-bottom: -7px;
  }

  & .role {
    @extend .f-row;
    font-weight: 400;
    font-size: $font-size-small;
  }
}
